nav{
    width: 80vw;
    height: 11vh;
    background-color: #544179;
    position: fixed;
    top: 0px;
    z-index: 2;
    letter-spacing: 2px;
}
span{
    color: white;
    font-size: 35px;
    line-height: 62px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 2px 4px;
}
nav a.active,nav a:hover{
    background: #6166B3;
    border-radius: 5px;
    transition: .5s;
    
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}
#check{
    display: none;
}
#check2{
    display: none;
}

@media screen and (max-width: 1177px) {
    nav{
        /* width: 100vw; */
    }
    span{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 1004px) {
    nav{
        width: 100vw;
    }
    .checkbtn{
        display: block;
    }
    span{
        font-size: 25px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .checkbtn{
        font-size: 10px;
        margin-right: 25px;
        line-height: 83px;
    }
    nav ul{
        position: fixed;
        width:100vw;
        height: 100vh;
        background-color: black;
        color: blanchedalmond;
        top: 68px;
        left: -111%;
        text-align: center;
        transition: all .5s;
        /* margin-right: 30px; */
    }
    nav ul li{
        display: block;
        margin: 40px 0px;
    }
    nav ul li a{
        font-size: 20px;
        
    }
    a:hover,a.active{
        background: none;
        color: blueviolet;
    }
    #check:checked~ul{
        left:0;
    }
    #check2:checked~ul{
        left:0;
    }
}

